/API/venv
setup.py
README.md

/API/.env

/API/test_db_connection.py

test_db_connection.py


/API/app/__pycache__
/API/app/db/__pycache__
/API/app/esquemas/__pycache__/
/API/app/modelos/__pycache__/
/API/app/rutas/__pycache__/
/API/app/utilidades/__pycache__/